body{
    font-family: 'Nabla', sans-serif;
    font-size: 48px;
    color:#39FF14;
    background-color: #121212;
    padding: 20px;
    text-align: center;
}
.hidden{
    display: none;
}
#body{
    animation: fadeIn 1.2s ease-in-out;
    opacity: 0;
    transform: scale(0.8);
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.drama-zone{
    font-family: 'Indie Flower', sans-serif;
    font-size: 36 px;
     color:#E91E63;
     background-color: #121212;
     padding: 20px;
     border: 2px solid #39FF14;
     border-radius: 0px;
}
#entry_screen{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#entry_button{
    background-color: #1F51FF;
    color:#121212;
    font-size: 24px;
    border : none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease;
}
#entry_button:hover{
    transform: scale(1.5);
    background-color: #006293;
}
